<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>MX Company Home Page</title>
</head>
<body>
    <h2>MX Company Home Page</h2>
<hr>
<p>
    Welcome to MX company home page!
</p>

<hr>

<p>
    Name: <span sec:authentication="principal.username"></span>
    <br><br>
    Username: <span sec:authentication="principal.username"></span>
    <br><br>
    Role(s): <span sec:authentication="principal.authorities"></span>
</p>

<div sec:authorize="hasRole('MANAGER')">
    <!-- Only show this to Manager role -->
    <p>
        <a th:href="@{/managers}">Manager Updates</a>
        (Only for Management personnel)
    </p>

</div>

<hr>

<form action="#" th:action="@{/logout}" method="post">

    <input type="submit" value="Logout" />

</form>
</body>
</html>